<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.hcnc.spring_board_practice.board.mapper.BoardMapper">
	<resultMap id="board" type="com.hcnc.spring_board_practice.board.dto.BoardDTO">
        <id column="BOARD_NUM" property="boardNum" />
        <result column="TITLE" property="title" />
        <result column="CONTENT" property="content" />
        <result column="WRITER" property="writer" />
        <result column="REG_DATE" property="regDate" />
    </resultMap>
    <select id="selectBoardList" resultMap="board">
        SELECT
            BOARD_NUM
            , TITLE
            , WRITER
            , REG_DATE
        FROM board_study.TEST_BOARD
    </select>

    <insert id="regBoard">
        INSERT INTO board_study.TEST_BOARD (
            TITLE
            , WRITER
            , CONTENT
        ) VALUES (
            #{title}
            , #{writer}
            , #{content}
        )
    </insert>
</mapper>































